/* Start: Paul Irish Box Model */
* {
    box-sizing: border-box;
}

*, *:before, *::after {
    box-sizing: inherit;
}
/* End: Box Model */

html {
  font-family: "Times New Roman", Times, serif;
}

body {
    display: grid;
    background-image: url("/images/Apache_PoweredBy.svg"),
                      url("/images/CentOS_Graphical_Symbol.svg"),
                      url("/images/Tomcat-logo.svg"),
                      url("/images/iredmail.png");
    background-repeat: no-repeat;
    background-position: left top, right top, left bottom, right bottom;
    background-size: 3.5rem, 3.5rem, 6rem, 3.5rem;
    margin: .3rem auto;
    font-weight: bold;
    background-color: #190623;
}

a, h1, footer {
    color: #bcbb6d;
    text-align: center;
    font-weight: bold;
}

h1 {
    margin: .35rem 0 .55rem 0;
}

h2, h3 {
    margin: .1rem;
}
nav {
    text-align: center;
}

ul li {
    margin: .9rem;
}

a {
    font-size: 1.45rem;
    text-decoration: none;
    box-shadow: 0 0.5rem 0.5rem 0rem #31312a;
}






}

a:hover {
    background-color: #282828;
    color: papayaWhip;
}

li a:hover {
    box-shadow: .1rem .3rem .5rem .2rem #eab358;
}

figure, .inlineBlock {
    display: inline-block;
}
figure a:hover {
    box-shadow: .1rem .3rem .5rem .2rem #eab358;
}

figcaption {
    font-size: 1.2rem;
    font-weight: bold;
    margin: .2rem 0;
}

a:focus {
    /* To give a little highlight on active elements */
    border-color: #de00ff;
}

article {
    text-align: center;
}

footer {
    margin: .2rem;
}

p {
    margin: 0;
}

label {
    display: block;
}

.aPng {
    box-shadow: .2rem .4rem .6rem .3rem #f5b4b4;
}

.bugBoxShadow {
    box-shadow: 0 1rem 0.7rem -1rem whitesmoke;
  }

.iconSize {
    width: 1.7rem;
    height: 1.5rem;
}

.harvard {
    color: #EA4CA5;
    font-family: 'Indie Flower', cursive;
}

.img10 {
    width: 11rem;
}

.img14 {
    width: 14rem;
}

/* Grid Box Layout staring here */
.gridBox {
    display: grid;
    grid-template-columns: 100%;
    text-align: center;
    padding: 1rem;
    margin: 0 auto;
}

.ulListStyle {
    list-style-type: none;
    padding: 0;
}

.superScript {
    vertical-align: super;
    color: #190623;
    background-color: #ecb9b1;
    font-weight: bold;
}

.error {
    color: red;
}

.displayNone {
    display: none;
}

#mailText {
    background-color: #ffc;
}

/* responsive design values */
@media (min-width: 1px) and (max-width: 440px) {
    body {
        background-size: 5rem, 5rem, 5rem, 5rem;
    }
}

@media (min-width: 401px) and (max-width: 768px) {
    body {
        background-size: 5rem, 5rem, 10rem, 10rem;
    }
}

@media (min-width: 361px) and (max-width: 414px) {
    header {
        margin: 5%;
    }

    body {
        font-size: 1rem;
    }

    a {
        font-size: .9rem;
    }
}
